{
	"presets": [
		"@babel/react",
		[
			"@babel/env",
			{
				"targets": {
					"browsers": ["last 2 versions", "not ie > 0", "not Android > 0"], 
					"node": "8"
				}
			}
		],
		"@babel/stage-3"
	]
}
